<!DOCTYPE html>
<html lang="es"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="components/htmlComponents::htmlHead"/>
<body>
<header th:replace="components/navbars::navbar-all-aux"></header>
<main>
    <header aria-label="Page Header" class="bg-gray-50">
        <div class="mx-auto max-w-screen-xl px-2 py-8 sm:px-6 lg:px-8">

            <div class="mt-8">
                <h1 class="text-2xl font-bold text-gray-900 sm:text-3xl">
                    Ultimas entradas del blog
                </h1>

                <p class="mt-1.5 text-sm text-gray-500">
                    Bienvenido a nuestro blog dedicado a la adopción de mascotas, donde te brindamos información valiosa
                    y compartimos emotivas historias de éxito.
                </p>
            </div>
        </div>
    </header>

    <div class="box-border h-auto w-fit border-2 mx-auto ">
        <section>
            <div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 sm:py-24 lg:px-8">
                <div class="max-w-3xl">
                    <h2 class="text-3xl font-bold sm:text-4xl">
                        La adopción de mascotas: un acto de amor y responsabilidad
                    </h2>
                </div>

                <div class="mt-8 grid grid-cols-1 gap-8 lg:grid-cols-2 lg:gap-16">
                    <div class="relative h-64 overflow-hidden sm:h-80 lg:h-full">
                        <img alt="Party"
                             src="https://images.unsplash.com/photo-1496843916299-590492c751f4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1771&q=80"
                             class="absolute inset-0 h-full w-full object-cover" />
                    </div>

                    <div class="lg:py-16">
                        <article class="space-y-4 text-gray-600">
                            <h2 class="font-bold">
                                Introducción
                            </h2>
                            <p>
                                El amor por los animales y la búsqueda de compañía son dos factores
                                que impulsan a muchas personas a adoptar mascotas. La adopción de
                                animales es una excelente manera de brindarles a estos seres una segunda
                                oportunidad, un hogar cálido y un dueño que los cuide y proteja. En este
                                blog, exploraremos las ventajas de adoptar en lugar de comprar, el proceso
                                de adopción y cómo puedes prepararte para la llegada de tu nueva mascota.
                            </p>


                        </article>
                    </div>
                </div>
                <div class="lg:py-16">
                    <article class="space-y-4 text-gray-600">
                        <h2 class="font-bold">
                            Ventajas de adoptar en lugar de comprar
                        </h2>
                        <p>
                            Salvar una vida: Al adoptar una mascota, estás rescatando a un
                            animal que puede haber sido abandonado o maltratado. Les proporcionas
                            un hogar seguro y los ayudas a recuperarse física y emocionalmente.
                        </p>
                        <p>
                            Combatir la sobrepoblación: La adopción contribuye a reducir la cantidad
                            de animales sin hogar y a disminuir el número de sacrificios en refugios
                            y perreras.
                        </p>
                        <p>
                            Apoyar a organizaciones benéficas y refugios: Adoptar animales de refugios
                            y organizaciones de rescate ayuda a financiar sus esfuerzos para salvar y
                            cuidar a más animales necesitados.
                        </p>
                        <p>
                            Fomentar la conciencia social: La adopción promueve la concienciación sobre
                            la problemática del abandono y la explotación de animales en la industria de
                            la cría.
                        </p>
                        <p>
                            Adoptar una mascota es una decisión emocionante y gratificante que puede enriquecer
                            nuestras vidas de muchas maneras. A través de este blog, te guiaremos en el proceso de elegir,
                            adoptar y cuidar a tu primera mascota, brindándote información útil y consejos prácticos para garantizar una relación feliz y duradera con tu nuevo compañero peludo.
                        </p>
                    </article>
                </div>
            </div>
        </section>
        <div class=" max-w-5xl px-14">
            <section class="rounded-lg bg-gray-100 py-8">
                <div class="grid grid-cols-1 gap-12 sm:grid-cols-3 sm:items-center">
                    <img alt="Man"
                         src="https://images.unsplash.com/photo-1625019030820-e4ed970a6c95?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80"
                         class="aspect-square w-full rounded-lg object-cover" />

                    <blockquote class="sm:col-span-2">
                        <p class="text-sm font-medium ">
                            Fecha de creación: Agosto 12, 2023
                        </p>

                        <cite class="mt-8 inline-flex items-center not-italic">
                            <p class="text-sm uppercase text-gray-500 sm:ml-3">
                                <strong>Creado por </strong>Usuario.
                            </p>
                        </cite>
                    </blockquote>
                </div>
            </section>
        </div>
    </div>
</main>

<footer th:replace="components/htmlComponents::htmlFooter"/>
</body>
</html>
