<!DOCTYPE html>
<html lang="en">
<body>
<div class="class=h-auto w-4/5 mx-auto">

    <div class="flex justify-center py-14">
        <p class="text-2xl text-orange-500 font-bold text-center pr-20">Ayudanos a seguir rescatando mascotas y dar
            amor
        </p>
        <button type="button"
                class="text-white bg-[#FF9119] hover:bg-[#FF9119]/80 focus:ring-4 focus:outline-none focus:ring-[#FF9119]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:hover:bg-[#FF9119]/80 dark:focus:ring-[#FF9119]/40 mr-2 mb-2">
            <svg class="w-10 h-10 mr-2 -ml-1" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="paypal"
                 role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                <path fill="currentColor"
                      d="M111.4 295.9c-3.5 19.2-17.4 108.7-21.5 134-.3 1.8-1 2.5-3 2.5H12.3c-7.6 0-13.1-6.6-12.1-13.9L58.8 46.6c1.5-9.6 10.1-16.9 20-16.9 152.3 0 165.1-3.7 204 11.4 60.1 23.3 65.6 79.5 44 140.3-21.5 62.6-72.5 89.5-140.1 90.3-43.4 .7-69.5-7-75.3 24.2zM357.1 152c-1.8-1.3-2.5-1.8-3 1.3-2 11.4-5.1 22.5-8.8 33.6-39.9 113.8-150.5 103.9-204.5 103.9-6.1 0-10.1 3.3-10.9 9.4-22.6 140.4-27.1 169.7-27.1 169.7-1 7.1 3.5 12.9 10.6 12.9h63.5c8.6 0 15.7-6.3 17.4-14.9 .7-5.4-1.1 6.1 14.4-91.3 4.6-22 14.3-19.7 29.3-19.7 71 0 126.4-28.8 142.9-112.3 6.5-34.8 4.6-71.4-23.8-92.6z">
                </path>
            </svg>
            Donar
        </button>
    </div>

    <div class="w-full mx-auto">
        <div id="controls-carousel" class="relative w-full px-44" data-carousel="static">
            <!-- Carousel wrapper -->
            <div class="relative overflow-hidden rounded-lg h-96">
                <!-- Item 1 -->
                <div class="slide duration-700 ease-in-out" data-carousel-item>
                    <img src="../img/carrusel1.jpg"
                         class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                </div>
                <!-- Item 2 -->
                <div class="slide duration-700 ease-in-out" data-carousel-item="active">
                    <img src="../img/gato1.jpg" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
                         alt="...">
                </div>
                <!-- Item 3 -->
                <div class="slide duration-700 ease-in-out" data-carousel-item>
                    <img src="../img/gato2.jpg" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
                         alt="...">
                </div>
                <!-- Item 4 -->
                <div class="slide duration-700 ease-in-out" data-carousel-item>
                    <img src="../img/perro3.jpg"
                         class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                </div>
                <!-- Item 5 -->
                <div class="slide duration-700 ease-in-out" data-carousel-item>
                    <img src="../img/perro.png" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
                         alt="...">
                </div>
            </div>
            <!-- Slider controls -->
            <button type="button" onclick="moveSlide(-1)"
                    class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
                    data-carousel-prev>
          <span
                  class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
            <svg aria-hidden="true" class="w-6 h-6 text-white dark:text-gray-800" fill="none" stroke="currentColor"
                 viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7">
              </path>
            </svg>
            <span class="sr-only">Previous</span>
          </span>
            </button>
            <button type="button" onclick="moveSlide(-1)"
                    class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
                    data-carousel-next>
          <span
                  class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
            <svg aria-hidden="true" class="w-6 h-6 text-white dark:text-gray-800" fill="none" stroke="currentColor"
                 viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7">
              </path>
            </svg>
            <span class="sr-only">Next</span>
          </span>
            </button>
        </div>
        <section>
            <div class="max-w-screen-xl px-4 py-8 mx-auto sm:px-6 sm:py-12 lg:px-8">
                <header class="text-center">
                    <h2 class="text-xl font-bold text-gray-900 sm:text-3xl">
                        Conoce a tu nuevo compañero para toda la vida!
                    </h2>

                    <p class="max-w-md mx-auto mt-4 text-gray-500">
                        Adoptar una mascota es una decisión emocionante y gratificante
                        que puede enriquecer nuestras vidas de muchas maneras.
                    </p>
                </header>

                <ul class="grid gap-4 mt-8 sm:grid-cols-2 lg:grid-cols-4">
                    <li>
                        <a href="#" class="block overflow-hidden group">
                            <img
                                    src="/src/img/gato1.jpg"
                                    alt=""
                                    class="h-[350px] w-full object-cover transition duration-500 group-hover:scale-105 sm:h-[450px]"
                            />
                        </a>
                    </li>

                    <li>
                        <a href="#" class="block overflow-hidden group">
                            <img
                                    src="/src/img/perro2.jpg"
                                    alt=""
                                    class="h-[350px] w-full object-cover transition duration-500 group-hover:scale-105 sm:h-[450px]"
                            />
                        </a>
                    </li>

                    <li>
                        <a href="#" class="block overflow-hidden group">
                            <img
                                    src="/src/img/perro3.jpg"
                                    alt=""
                                    class="h-[350px] w-full object-cover transition duration-500 group-hover:scale-105 sm:h-[450px]"
                            />
                        </a>
                    </li>

                    <li>
                        <a href="#" class="block overflow-hidden group">
                            <img
                                    src="/src/img/perro4.jpg"
                                    alt=""
                                    class="h-[350px] w-full object-cover transition duration-500 group-hover:scale-105 sm:h-[450px]"
                            />
                        </a>
                    </li>
                </ul>
            </div>
        </section>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 p-4">
        <div class="p-4">
            <a href="#" class="group relative block bg-black">
                <img
                        alt="Developer"
                        src="/src/img/perro1.jpg"
                        class="absolute inset-0 h-full w-full object-cover opacity-75 transition-opacity group-hover:opacity-50"
                />

                <div class="relative p-4 sm:p-6 lg:p-8">
                    <p class="text-sm font-medium uppercase tracking-widest text-pink-500">
                        Guarumo
                    </p>

                    <p class="text-xl font-bold text-white sm:text-2xl">French poople</p>

                    <div class="mt-32 sm:mt-48 lg:mt-64">
                        <div
                                class="translate-y-8 transform opacity-0 transition-all group-hover:translate-y-0 group-hover:opacity-100"
                        >
                            <p class="text-sm text-white">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis
                                perferendis hic asperiores quibusdam quidem voluptates doloremque
                                reiciendis nostrum harum. Repudiandae?
                            </p>
                        </div>
                    </div>
                </div>
            </a>

        </div>
        <div class="p-4">
            <a href="#" class="group relative block bg-black">
                <img
                        alt="Developer"
                        src="/src/img/perro4.jpg"
                        class="absolute inset-0 h-full w-full object-cover opacity-75 transition-opacity group-hover:opacity-50"
                />

                <div class="relative p-4 sm:p-6 lg:p-8">
                    <p class="text-sm font-medium uppercase tracking-widest text-pink-500">
                        Developer
                    </p>

                    <p class="text-xl font-bold text-white sm:text-2xl">Tony Wayne</p>

                    <div class="mt-32 sm:mt-48 lg:mt-64">
                        <div
                                class="translate-y-8 transform opacity-0 transition-all group-hover:translate-y-0 group-hover:opacity-100"
                        >
                            <p class="text-sm text-white">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis
                                perferendis hic asperiores quibusdam quidem voluptates doloremque
                                reiciendis nostrum harum. Repudiandae?
                            </p>
                        </div>
                    </div>
                </div>
            </a>

        </div>
        <div class="p-4">
            <a href="#" class="group relative block bg-black">
                <img
                        alt="Developer"
                        src="/src/img/gato2.jpg"
                        class="absolute inset-0 h-full w-full object-cover opacity-75 transition-opacity group-hover:opacity-50"
                />

                <div class="relative p-4 sm:p-6 lg:p-8">
                    <p class="text-sm font-medium uppercase tracking-widest text-pink-500">
                        Gato
                    </p>

                    <p class="text-xl font-bold text-white sm:text-2xl">Raza</p>

                    <div class="mt-32 sm:mt-48 lg:mt-64">
                        <div
                                class="translate-y-8 transform opacity-0 transition-all group-hover:translate-y-0 group-hover:opacity-100"
                        >
                            <p class="text-sm text-white">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis
                                perferendis hic asperiores quibusdam quidem voluptates doloremque
                                reiciendis nostrum harum. Repudiandae?
                            </p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
</div>
</body>
<script>
    // set the default active slide to the first one
    let slideIndex = 1;
    showSlide(slideIndex);

    // change slide with the prev/next button
    function moveSlide(moveStep) {
        showSlide(slideIndex += moveStep);
    }

    // change slide with the dots
    function currentSlide(n) {
        showSlide(slideIndex = n);
    }

    function showSlide(n) {
        let i;
        const slides = document.getElementsByClassName("slide");

        if (n > slides.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = slides.length }

        // hide all slides
        for (i = 0; i < slides.length; i++) {
            slides[i].classList.add('hidden');
        }

        // show the active slide
        slides[slideIndex - 1].classList.remove('hidden');
    }
</script>

</html>