<!DOCTYPE html>

<html lang="es"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="components/HTML::head"/>



<body>

<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="http://c.files.bbci.co.uk/48DD/production/_107435681_perro1.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="http://c.files.bbci.co.uk/48DD/production/_107435681_perro1.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="http://c.files.bbci.co.uk/48DD/production/_107435681_perro1.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>


</div>

<div>
    <section class="bg-white">
        <div class="mx-auto max-w-screen-xl px-4 py-12 sm:px-6 md:py-16 lg:px-8">
            <div class="mx-auto max-w-3xl text-center">
                <h2 class="text-3xl font-bold text-gray-900 sm:text-4xl">
                    Trusted by eCommerce Businesses
                </h2>

                <p class="mt-4 text-gray-500 sm:text-xl">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione dolores
                    laborum labore provident impedit esse recusandae facere libero harum
                    sequi.
                </p>
            </div>

            <div class="mt-8 sm:mt-12">
                <dl class="grid grid-cols-1 gap-4 sm:grid-cols-3">
                    <div
                            class="flex flex-col rounded-lg border border-gray-100 px-4 py-8 text-center"
                    >
                        <dt class="order-last text-lg font-medium text-gray-500">
                            Total Sales
                        </dt>



                        <dd class="text-4xl font-extrabold text-blue-600 md:text-5xl">
                            $4.8m
                        </dd>
                    </div>

                    <div
                            class="flex flex-col rounded-lg border border-gray-100 px-4 py-8 text-center"
                    >
                        <dt class="order-last text-lg font-medium text-gray-500">
                            Official Addons
                        </dt>

                        <dd class="text-4xl font-extrabold text-blue-600 md:text-5xl">24</dd>
                    </div>

                    <div
                            class="flex flex-col rounded-lg border border-gray-100 px-4 py-8 text-center"
                    >
                        <dt class="order-last text-lg font-medium text-gray-500">
                            Total Addons
                        </dt>

                        <dd class="text-4xl font-extrabold text-blue-600 md:text-5xl">86</dd>
                    </div>
                </dl>
            </div>
        </div>
    </section>

</div>
</body>
</html>